[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pmcalibration"]
	path = pmcalibration
	url = https://github.com/stephenrho/pmcalibration
[submodule "pminternal"]
	path = pminternal
	url = https://github.com/stephenrho/pminternal
